C:\Users\ppand\Documents\BootCamp\My_work\My_git_Repos\python-api-challenge\WeatherPy\api_keys.python
C:\Users\ppand\Documents\BootCamp\My_work\My_git_Repos\python-api-challenge\WeatherPy\.ipynb_checkpoints
C:\Users\ppand\Documents\BootCamp\My_work\My_git_Repos\python-api-challenge\WeatherPy\__pycache__